<div [@fadeInUp] class="container-fluid">
    <div class="card">
        <div class="card-header-custom">
            <div class="icon-wrapper">
                <i class="fas fa-plus"></i>
            </div>
            <div class="header-text">
                <h5>{{ title }}</h5>
                <span>Completa la información para registrar un nuevo monedero.</span>
            </div>
        </div>

        <div class="card-body">
            <form [formGroup]="monederoForm" class="cliente-form">
                <h6 class="section-title">Datos Generales</h6>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label>Número de Serie</label>
                        <input type="text" class="form-control" formControlName="numeroSerie"
                            placeholder="Ej: 41f170e5dafc640e">
                    </div>
                    <div class="col-md-4">
                        <label>Saldo</label>
                        <input type="text" class="form-control" formControlName="saldo" placeholder="Ej 100.00"
                            inputmode="decimal" (keydown)="moneyKeydown($event)" (input)="moneyInput($event)"
                            (paste)="moneyPaste($event)" (blur)="moneyBlur($event)" />
                    </div>
                    <div class="col-md-4">
                        <label>Pasajero</label>
                        <select class="form-control" formControlName="idPasajero">
                            <option [ngValue]="null" disabled>Seleccione un pasajero</option>
                            <option *ngFor="let pasajeros of listaPasajeros" [ngValue]="pasajeros.id">
                                {{ pasajeros.nombre }} {{ pasajeros.apellidoPaterno }} {{ pasajeros.apellidoMaterno }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4 mt-3">
                        <label>Cliente</label>
                        <select class="form-control" formControlName="idCliente">
                            <option [ngValue]="null" disabled>Seleccione un cliente</option>
                            <option *ngFor="let cliente of listaClientes" [ngValue]="cliente.id">
                                {{ cliente.nombre }} {{ cliente.apellidoPaterno }} {{ cliente.apellidoMaterno }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-actions mt-4">
                    <button type="submit" class="submit" (click)="submit()">{{submitButton}}</button>
                    <button type="button" class="cancel" (click)="regresar()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>