<div [@fadeInUp] class="container-fluid">
    <div class="card">
        <div class="card-header-custom">
            <div class="icon-wrapper">
                <i class="fas fa-user-circle"></i>
            </div>
            <div class="header-text">
                <h5>{{title}}</h5>
                <span>Completa la información para registrar un nuevo pasajero.</span>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="pasajeroForm" class="cliente-form">
                <h6 class="section-title">Datos Personales</h6>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label>Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre"
                            placeholder="Ej: Sergio">
                    </div>
                    <div class="col-md-4">
                        <label>Apellido Paterno</label>
                        <input type="text" class="form-control" formControlName="apellidoPaterno"
                            placeholder="Ej: Rodríguez">
                    </div>
                    <div class="col-md-4">
                        <label>Apellido Materno</label>
                        <input type="text" class="form-control" formControlName="apellidoMaterno"
                            placeholder="Ej: Santos">
                    </div>
                    <div class="col-md-4 mt-3">
                        <label>Teléfono</label>
                        <input class="form-control" formControlName="telefono" placeholder="Ej: 5555555555"
                            maxlength="10" (keypress)="allowOnlyNumbers($event)">
                    </div>
                    <div class="col-md-4 mt-3" *ngIf="showCorreo">
                        <label>Correo</label>
                        <input type="email" class="form-control" formControlName="correo"
                            placeholder="Ej: contacto@ejemplo.com">
                    </div>
                    <div class="col-md-4 mt-3">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" class="form-control" formControlName="fechaNacimiento"
                            placeholder="Ej: 02/05/1999">
                    </div>
                </div>
                <div class="form-actions mt-4">
                    <button type="submit" class="submit" (click)="submit()">{{submitButton}}</button>
                    <button type="button" class="cancel" (click)="regresar()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>