<header id="page-topbar" style="z-index: 10; color: white;  background-color: #002136;">
  <div class="navbar-header">
    <div class="d-flex">
      <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/images/logo-sm.png" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="20">
          </span>
        </a>
        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="../../../assets/images/arte/Logo_QMT_Square_final.png" alt="" height="50">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-light.png" alt="" height="20">
          </span>
        </a>
      </div>
      <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn"
        id="vertical-menu-btn" (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars" style="color: #09fa3a;"></i>
      </button>
    </div>

    <div class="d-flex">
      <!-- ======= NUEVO: BOTONES DE ALERTAS (RESPONSIVE con row/col) ======= -->
      <div class="row g-2 align-items-center me-2">
        <div class="col-auto">
          <div class="dropdown d-inline-block language-switcher" ngbDropdown>
            <button type="button" class="btn btn-outline-light btn-sm lang-trigger notranslate" ngbDropdownToggle>
              <span class="lang-live-dot"></span>
              <img [src]="flagvalue || valueset" alt="Idioma" height="14" class="me-1 lang-flag-current">
              <span class="d-none d-md-inline lang-label notranslate">{{ countryName }}</span>
              <i class="uil uil-angle-down lang-caret"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end lang-menu" ngbDropdownMenu>
              @for(item of listLang; track $index){
              <a href="javascript:void(0);" class="dropdown-item notify-item lang-option"
                (click)="setLanguage(item.text, item.lang, item.flag)"
                [ngClass]="{'active': cookieValue === item.lang}">
                <img [src]="item.flag" alt="language-flag" class="me-1 lang-flag-option" height="12">
                <span class="align-middle notranslate">{{ item.text }}</span>
                <span class="lang-active-chip notranslate" *ngIf="cookieValue === item.lang">Activo</span>
              </a>
              }
            </div>
          </div>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-outline-light btn-sm" [attr.title]="'LAYOUT.ALERTS.GENERAL' | translate">
            <i class="uil uil-bell"></i>
            <span class="d-none d-md-inline ms-1">{{ 'LAYOUT.ALERTS.ALERTS' | translate }}</span>
          </button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-outline-light btn-sm" [attr.title]="'LAYOUT.ALERTS.WARNINGS_TOOLTIP' | translate">
            <i class="uil uil-exclamation-triangle"></i>
            <span class="d-none d-md-inline ms-1">{{ 'LAYOUT.ALERTS.WARNINGS' | translate }}</span>
          </button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-outline-light btn-sm" [attr.title]="'LAYOUT.ALERTS.SECURITY_TOOLTIP' | translate">
            <i class="uil uil-shield-exclamation"></i>
            <span class="d-none d-md-inline ms-1">{{ 'LAYOUT.ALERTS.SECURITY' | translate }}</span>
          </button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-outline-light btn-sm" [attr.title]="'LAYOUT.ALERTS.MESSAGES_TOOLTIP' | translate">
            <i class="uil uil-envelope-alt"></i>
            <span class="d-none d-md-inline ms-1">{{ 'LAYOUT.ALERTS.MESSAGES' | translate }}</span>
          </button>
        </div>
      </div>
      <!-- ======= FIN NUEVO ======= -->

      <div class="dropdown d-none d-lg-inline-block ms-1">
        <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen"
          (click)="fullscreen()">
          <i class="uil-minus-path" style="color: #09fa3a;"></i>
        </button>
      </div>
      <div class="dropdown d-inline-block" ngbDropdown>
        <button type="button" class="btn header-item waves-effect" ngbDropdownToggle id="page-header-user-dropdown">
          <img class="rounded-circle header-profile-user" [src]="resolvedAvatar" (error)="onAvatarError($event)"
            alt="Header Avatar">

          <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">{{showNombre}}</span>
          <i class="uil-angle-down d-none d-xl-inline-block font-size-15" style="color: #09fa3a;"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
          <a class="dropdown-item" style="color: white;" href="javascript: void(0);" (click)="perfilUsuario()">
            <i class="uil uil-user-circle font-size-18 align-middle me-1 text-muted"></i>
            <span class="align-middle">{{ 'LAYOUT.USER_PROFILE' | translate }}</span>
          </a>
          <div class="dropdown-item" style="color: white; cursor: pointer;" (click)="logout($event)">
            <i class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"></i>
            <span class="align-middle">{{ 'HEADER.LOGIN.LOGOUT' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
