<div [@fadeInUp] class="container-fluid">
    <div class="card">
        <div class="card-header-custom">
            <div class="icon-wrapper">
                <i class="fas fa-plus"></i>
            </div>
            <div class="header-text">
                <h5>{{ title }}</h5>
                <span>Completa la información para registrar una nueva tarifa.</span>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="tarifaForm" class="cliente-form">
                <h6 class="section-title">Datos Generales</h6>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <label>Derroteros</label>
                        <select class="form-select" formControlName="idDerrotero">
                            <option [ngValue]="null" disabled>Seleccione un derrotero</option>
                            <option *ngFor="let data of listaDerroteros" [ngValue]="data.id">
                                {{ data.nombreDerrotero }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 mt-3">
                        <label>Tarifa Base</label>
                        <input type="text" class="form-control" formControlName="tarifaBase" placeholder="100.00"
                            inputmode="decimal" (focus)="onTarifaFocus()" (blur)="onTarifaBlur()" (keypress)="allowOnlyNumbers($event)" />
                    </div>

                    <div class="col-md-6 mt-3">
                        <label>Distancia Base</label>
                        <input type="text" class="form-control" formControlName="distanciaBaseKm"
                            placeholder="120.5" (focus)="onDistanciaFocus()" (blur)="onDistanciaBlur()" (keypress)="allowOnlyNumbers($event)">
                    </div>

                    <div class="col-md-6 mt-3">
                        <label>Incremento de Distancia por Metro</label>
                        <input type="text" class="form-control" formControlName="incrementoCadaMetros"
                            placeholder="10.25" inputmode="decimal" (focus)="onIncrementoFocus()" (blur)="onIncrementoBlur()"  (keypress)="allowOnlyNumbers($event)"/>
                    </div>

                    <div class="col-md-6 mt-3">
                        <label>Costo por Incremento</label>
                        <input type="text" class="form-control" formControlName="costoAdicional" placeholder="50.00" (keypress)="allowOnlyNumbers($event)"
                            inputmode="decimal" (focus)="onCostoFocus()" (blur)="onCostoBlur()" />
                    </div>
                </div>
                <div class="form-actions mt-4">
                    <button type="submit" class="submit" (click)="submit()">{{submitButton}}</button>
                    <button type="button" class="cancel" (click)="regresar()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>