<div [@fadeInUp] class="container-fluid">
    <div class="card">
        <div class="card-header-custom">
            <div class="icon-wrapper">
                <i class="fas fa-plus"></i>
            </div>
            <div class="header-text">
                <h5>{{ title }}</h5>
                <span>Completa la información para registrar un nuevo permiso.</span>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="permisoForm" class="cliente-form">
                <h6 class="section-title">Datos Generales</h6>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label>Módulo</label>
                        <dx-select-box class="tm-select w-100" formControlName="idModulo" [items]="listaModulos || []"
                            [valueExpr]="'id'" [displayExpr]="'nombre'" [searchEnabled]="true" [showClearButton]="true"
                            [noDataText]="'Sin registros'" placeholder="Seleccione un módulo">
                            <div *dxTemplate="let m of 'item'">{{ m.nombre }}</div>
                            <div *dxTemplate="let m of 'field'">{{ m?.nombre }}</div>
                        </dx-select-box>
                    </div>

                    <div class="col-md-4">
                        <label>Nombre</label>
                        <input type="text" class="form-control" formControlName="nombre"
                            placeholder="Consultar Administración">
                    </div>
                    <div class="col-md-4">
                        <label>Descripción</label>
                        <input type="text" class="form-control" formControlName="descripcion"
                            placeholder="Permite visualizar el contenido del módulo">
                    </div>
                </div>
                <div class="form-actions mt-4">
                    <button type="submit" class="submit" (click)="submit()">{{submitButton}}</button>
                    <button type="button" class="cancel" (click)="regresar()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>