<div [@fadeInUp] class="container-fluid">
  <div class="card">
    <div class="card-header-custom">
      <div class="icon-wrapper">
        <i class="fas fa-plus"></i>
      </div>
      <div class="header-text">
        <h5>{{ title }}</h5>
        <span>Completa la información para registrar una nueva verificación vehicular.</span>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="verificacionesForm" class="cliente-form">
        <h6 class="section-title">Datos Generales</h6>

        <div class="row mt-3">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mt-3">
            <label>Fecha de la verificación actual</label>
            <dx-date-box class="tm-select w-100" formControlName="verificacionActual" type="date"
              [showClearButton]="true">
            </dx-date-box>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mt-3">
            <label>Fecha de la próxima verificación</label>
            <dx-date-box class="tm-select w-100" formControlName="proximaVerificacion" type="date"
              [showClearButton]="true">
            </dx-date-box>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mt-3">
            <label>Instalación</label>
            <dx-select-box class="tm-select w-100" formControlName="idInstalacion" [items]="listaInstalaciones || []"
              valueExpr="id" [displayExpr]="displayInstalacion" [searchEnabled]="true" [showClearButton]="true"
              [noDataText]="'Sin registros'" placeholder="Seleccione una instalación">
            </dx-select-box>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mt-3">
            <label>Operador</label>
            <dx-select-box class="tm-select w-100" formControlName="idOperador" [items]="listaOperadores" valueExpr="id"
              [displayExpr]="displayOperador" [searchEnabled]="true" [showClearButton]="true"
              [noDataText]="'Sin registros'" placeholder="Seleccione un operador">
            </dx-select-box>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mt-3">
            <label>Tipo de verificación</label>
            <dx-select-box class="tm-select w-100" formControlName="idTipoVerificacion"
              [items]="listaTipoVerificaciones" valueExpr="id" displayExpr="nombre" [searchEnabled]="true"
              [showClearButton]="true" [noDataText]="'Sin registros'" placeholder="Seleccione un tipo de verificación">
            </dx-select-box>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-2">
            <div class="tc-upload">
              <label>Nota de verificación</label>
              <div class="tc-preview" *ngIf="notaPreviewUrl; else notaTile">
                <img [src]="notaPreviewUrl" alt="Nota de verificación" />
                <div class="tc-actions">
                  <button type="button" class="btn-change" (click)="openNotaFilePicker()">Cambiar</button>
                  <button type="button" class="btn-remove" (click)="clearNotaImage($event)">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <ng-template #notaTile>
                <div class="tc-tile" (click)="openNotaFilePicker()" (dragover)="onNotaDragOver($event)"
                  (dragleave)="onNotaDragLeave($event)" (drop)="onNotaDrop($event)" [class.dragging]="notaDragging">
                  <div class="circle"><i class="fas fa-image"></i></div>
                  <div class="meta">
                    <div class="title">Arrastra o haz clic para subir la nota</div>
                    <div class="hint">JPG/PNG/WEBP/PDF/DOC/XLS · máx 3 MB</div>
                  </div>
                </div>
              </ng-template>
              <input type="file" #notaFileInput accept=".jpg,.jpeg,.png,.webp,.pdf,.doc,.docx,.xls,.xlsx" hidden
                (change)="onNotaFileSelected($event)" />
            </div>
          </div>
        </div>

        <div class="form-actions mt-4">
          <button type="submit" class="submit" (click)="submit()">
            {{ submitButton }}
          </button>
          <button type="button" class="cancel" (click)="regresar()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>