<div [@fadeInUp] class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="u-banner">
                <div class="u-banner__icon">
                    <div class="u-icon">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
                <div class="u-banner__body">
                    <h2 class="u-banner__title">Gestión de Operadores</h2>
                    <p class="u-banner__subtitle">
                        Consulta, busca y navega entre tus operadores registrados
                    </p>
                    <div *appHasPermission="'34'">
                        <button class="u-btn u-btn--primary" (click)="agregarOperador()">
                            <i class="fas fa-plus"></i>
                            <span>Agregar Operadores</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <div class="table-responsive mb-4 col-12 col-lg-12">
                        <dx-data-grid #gridContainer id="gridContainer" [columnHidingEnabled]="true"
                            [showBorders]="'true'" [showColumnLines]="true" [showRowLines]="true"
                            [rowAlternationEnabled]="'true'" [dataSource]="listaOperadores" [keyExpr]="'id'"
                            [width]="'100%'" [remoteOperations]="{ paging: true }" [paging]="{ pageSize: pageSize }"
                            [pager]="{ 
                                showPageSizeSelector: true, 
                                allowedPageSizes: [50], 
                                showInfo: true,
                                infoText: 'Página {0} de {1}', 
                                visible: true 
                            }" (onPageIndexChanged)=" onPageIndexChanged($event)"
                            (onOptionChanged)="onGridOptionChanged($event)">
                            <dxo-search-panel [visible]="true" [width]="200" placeholder="Buscar..."></dxo-search-panel>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20]"
                                [showInfo]="true"></dxo-pager>
                            <dxo-group-panel [emptyPanelText]="mensajeAgrupar" [visible]="true"></dxo-group-panel>
                            <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>
                            <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
                            <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                            <dxi-column *appHasPermission="['35', '36']" caption="Acciones" cellTemplate="Acciones"
                                alignment="center" [width]="150"></dxi-column>
                            <dxi-column caption="Licencia de Conducir" [width]="150" alignment="center"
                                [allowSorting]="false" [allowFiltering]="false" cellTemplate="licen"></dxi-column>
                            <div *dxTemplate="let f of 'licen'">
                                <button type="button" class="btn btn-info btn-sm" style="border-radius: 5px;"
                                    (click)="previsualizar(f?.data?.licencia, 'Licencia de Conducir', f?.data)">
                                    <i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Observar
                                </button>
                            </div>
                            <dxi-column caption="Identificación" [width]="150" alignment="center" [allowSorting]="false"
                                [allowFiltering]="false" cellTemplate="ident"></dxi-column>
                            <div *dxTemplate="let f of 'ident'">
                                <button type="button" class="btn btn-primary btn-sm" style="border-radius: 5px;"
                                    (click)="previsualizar(f?.data?.identificacion, 'Identificación', f?.data)">
                                    <i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Observar
                                </button>
                            </div>
                            <dxi-column caption="Comprobante" [width]="150" alignment="center" [allowSorting]="false"
                                [allowFiltering]="false" cellTemplate="comp">
                            </dxi-column>
                            <div *dxTemplate="let f of 'comp'">
                                <button type="button" class="btn btn-success btn-sm" style="border-radius: 5px;"
                                    (click)="previsualizar(f?.data?.comprobanteDomicilio, 'Comprobante de Domicilio', f?.data)">
                                    <i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Observar
                                </button>
                            </div>
                            <dxi-column caption="Antecedentes" [width]="150" alignment="center" [allowSorting]="false"
                                [allowFiltering]="false" cellTemplate="penales">
                            </dxi-column>
                            <div *dxTemplate="let f of 'penales'">
                                <button type="button" class="btn btn-warning btn-sm" style="border-radius: 5px;"
                                    (click)="previsualizar(f?.data?.antecedentesNoPenales || f?.data?.antecedentesPenales, 'Antecedentes No Penales', f?.data)">
                                    <i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;Observar
                                </button>
                            </div>
                            <dxi-column dataField="NombreCompleto" caption="Nombre" alignment="center" dataType="string"
                                [width]="320"></dxi-column>
                            <dxi-column dataField="userNameUsuario" caption="Correo Electrónico" alignment="center"
                                dataType="string"></dxi-column>
                            <dxi-column dataField="telefonoUsuario" caption="Teléfono" alignment="center"
                                dataType="string"></dxi-column>
                            <dxi-column dataField="FechaNacimientoTexto" caption="Fecha de Nacimiento"
                                alignment="center" dataType="string" [width]="150"></dxi-column>
                            <dxi-column dataField="EstatusTexto" caption="Estatus" alignment="center" dataType="string"
                                [width]="150" cellTemplate="est"></dxi-column>
                            <div *dxTemplate="let f of 'est'">
                                <span *ngIf="(f.data.EstatusNumber ?? f.data.estatus) === 1"
                                    class="estatus estatus-activo">Activo</span>
                                <span *ngIf="(f.data.EstatusNumber ?? f.data.estatus) !== 1"
                                    class="estatus estatus-inactivo">Inactivo</span>
                            </div>
                            <dxi-column dataField="DocumentoIdentificacionTexto" [visible]="false"></dxi-column>
                            <dxi-column dataField="DocumentoComprobanteTexto" [visible]="false"></dxi-column>
                            <dxi-column dataField="DocumentoAntecedentesTexto" [visible]="false"></dxi-column>

                            <dxo-export [enabled]="false" [allowExportSelectedData]="true" [texts]="{ exportAll: 'Exportar todos los datos a Excel', 
                                exportSelectedRows: 'Exportar filas seleccionadas a Excel' }">
                            </dxo-export>
                            <div *dxTemplate="let row of 'Acciones'" class="d-flex gap-3 justify-content-center">
                                <div *appHasPermission="'35'">
                                    <button valueExpr="id" id="actualizarButton" class="btnAcciones"
                                        (click)="actualizarOperador(row.data.id)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </div>
                                <div *appHasPermission="'36'">
                                    <button *ngIf="row.data.estatus === 0" id="pinButton" class="btnAcciones"
                                        (click)="activar(row.data)">
                                        <i class="fa fa-arrow-up"></i>
                                    </button>
                                    <button *ngIf="row.data.estatus === 1" id="deleteButton" class="btnAcciones"
                                        (click)="desactivar(row.data)">
                                        <i class="fa fa-arrow-down"></i>
                                    </button>
                                </div>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loading" [showIndicator]="true" [showPane]="true"
    [shading]="true" [closeOnOutsideClick]="false" [message]="loadingMessage">
</dx-load-panel>

<dx-popup [visible]="pdfPopupVisible" [showTitle]="true" title="Documentación" [dragEnabled]="true"
    [closeOnOutsideClick]="false" [width]="pdfPopupWidth" [height]="'auto'" [showCloseButton]="true"
    (onHiding)="pdfPopupVisible = false">
    <div class="pdf-viewer">
        <div class="pdf-loader" *ngIf="pdfLoading && !pdfError">
            Cargando documento…
        </div>
        <span class="dc-document" *ngIf="!pdfError">
            {{pdfTitle}}
            <br>
        </span>
        <ng-container *ngIf="!pdfError; else pdfErrorTpl">
            <br>
            <!-- PDF -->
<div class="pdf-frame" *ngIf="!pdfError && !pdfIsImage && pdfUrlSafe" [class.is-loading]="pdfLoading">
  <iframe class="pdf-iframe" [src]="pdfUrlSafe" (load)="onPdfLoaded()"></iframe>
</div>

<!-- Imagen -->
<div class="pdf-frame" *ngIf="!pdfError && pdfIsImage && imgSrc" [class.is-loading]="pdfLoading">
  <img class="pdf-image" [src]="imgSrc" alt="Vista previa" (load)="onImgLoaded()" (error)="onImgError()">
</div>


            <div class="pdf-actions">
                <button type="button" class="abrirArchivo" (click)="abrirEnNuevaPestana()">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;Abrir
                </button>
                <button type="button" class="descargarArchivo" (click)="descargarPdfForzada()">
                    <i class="fa fa-download"></i>&nbsp;&nbsp;Descargar
                </button>
            </div>
        </ng-container>
        <ng-template #pdfErrorTpl>
            <div class="pdf-error-card">
                <h4>📄 No pudimos previsualizar el PDF o Imagen</h4>
                <p>{{ pdfErrorMsg || 'El archivo no está disponible, el tipo de contenido no es PDF o fue bloqueado por el navegador (CORS).' }}</p>
            </div>
        </ng-template>
    </div>
</dx-popup>