<div [@fadeInUp] class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="u-banner">
                <div class="u-banner__icon">
                    <div class="u-icon">
                        <i class="fas fa-archive"></i>
                    </div>
                </div>
                <div class="u-banner__body">
                    <h2 class="u-banner__title">Gestión de Tipos de Pasajeros</h2>
                    <p class="u-banner__subtitle">
                        Consulta, busca y navega entre tus tipos pasajeros registrados
                    </p>
                    <div *appHasPermission="'18'">
                        <button class="u-btn u-btn--primary" (click)="agregarTipo()">
                            <i class="fas fa-plus"></i>
                            <span>Agregar Tipo Pasajero</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <div class="table-responsive mb-4 col-12 col-lg-12">
                        <dx-data-grid #gridContainer id="gridContainer" [columnHidingEnabled]="true"
                            [showBorders]="'true'" [showColumnLines]="true" [showRowLines]="true"
                            [rowAlternationEnabled]="'true'" [dataSource]="listaTipoPasajeros" [keyExpr]="'id'"
                            [width]="'100%'">
                            <dxo-search-panel [visible]="true" [width]="200" placeholder="Buscar..."></dxo-search-panel>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20]"
                                [showInfo]="true"></dxo-pager>
                            <dxo-group-panel [emptyPanelText]="mensajeAgrupar" [visible]="true"></dxo-group-panel>
                            <dxo-filter-row [visible]="showFilterRow"></dxo-filter-row>
                            <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
                            <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                            <dxi-column *appHasPermission="['19', '20']" caption="Acciones" cellTemplate="Acciones"
                                alignment="center" dataType="string" [width]="180">
                            </dxi-column>
                            <dxi-column dataField="nombre" caption="Nombre" alignment="center"
                                dataType="string"></dxi-column>
                            <dxi-column caption="Tipo de descuento" alignment="center" dataType="string"
                                cellTemplate="tipoDescTpl">
                                <div *dxTemplate="let r of 'tipoDescTpl'">
                                    {{ mapNombreTipoDescuento(r.data.nombreTipoDescuento) }}
                                </div>
                            </dxi-column>
                            <dxi-column caption="Cantidad (Monetario o %)" alignment="center" dataType="string"
                                cellTemplate="cantTpl">
                                <div *dxTemplate="let r of 'cantTpl'">
                                    {{ formatCantidad(r.data.cantidad, r.data.nombreTipoDescuento) }}
                                </div>
                            </dxi-column>
                            <dxi-column dataField="estatus" caption="Estatus" alignment="center" cellTemplate="est"
                                dataType="string">
                                <div *dxTemplate="let f of 'est'">
                                    <span *ngIf="f.data.estatus === 1" class="estatus estatus-activo">
                                        Activo
                                    </span>
                                    <span *ngIf="f.data.estatus !== 1" class="estatus estatus-inactivo">
                                        Inactivo
                                    </span>
                                </div>
                            </dxi-column>
                            <dxi-column caption="Cliente" alignment="center" dataType="string"
                                cellTemplate="clienteTpl">
                                <div *dxTemplate="let c of 'clienteTpl'">
                                    {{
                                    (c.data.nombreCliente || '') +
                                    (c.data.apellidoPaternoCliente ? ' ' + c.data.apellidoPaternoCliente : '') +
                                    (c.data.apellidoMaternoCliente ? ' ' + c.data.apellidoMaternoCliente : '')
                                    }}
                                </div>
                            </dxi-column>
                            <dxo-export [enabled]="false" [allowExportSelectedData]="true"
                                [texts]="{ exportAll: 'Exportar todos los datos a Excel', exportSelectedRows: 'Exportar filas seleccionadas a Excel' }">
                            </dxo-export>
                            <div *dxTemplate="let row of 'Acciones'" class="d-flex gap-3 justify-content-center">
                                <div *appHasPermission="'19'">
                                    <button valueExpr="id" id="actualizarButton" class="btnAcciones"
                                        (click)="actualizarTipo(row.data.id)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </div>
                                <div *appHasPermission="'20'">
                                    <button *ngIf="row.data.estatus === 0" id="pinButton" class="btnAcciones"
                                        (click)="activar(row.data)">
                                        <i class="fa fa-arrow-up"></i>
                                    </button>
                                    <button *ngIf="row.data.estatus === 1" id="deleteButton" class="btnAcciones"
                                        (click)="desactivar(row.data)">
                                        <i class="fa fa-arrow-down"></i>
                                    </button>
                                </div>
                            </div>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loading" [showIndicator]="true" [showPane]="true"
    [shading]="true" [closeOnOutsideClick]="false" [message]="loadingMessage">
</dx-load-panel>