<div class="login-wrapper">
  <div class="login-card">
    <img src="./assets/images/arte/Logo_TransMovi.png" alt="Logo Transmovi" class="logo-header" />
    <h2>¿Contraseña Olvidada?</h2>
    <form [formGroup]="resetForm" (ngSubmit)="agregar()">
      <div class="input-group">
        <label for="userName">Correo Electrónico</label>
        <input id="userName" type="email" formControlName="userName" placeholder="Email"
          [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
      </div>

      <div class="extra-links">
        <a [routerLink]="['/account','login']">Iniciar Sesión</a>
      </div>

      <button class="login-btn" type="submit" [disabled]="loading"
        style="width:100%; display:flex; align-items:center; justify-content:center;">
        <div class="justigy">
          <span [@fadeInUp] *ngIf="loading" class="loader"></span>
          <span *ngIf="!loading">Ingresar</span>
          <span style="margin-left:5px;" *ngIf="loading">Cargando...</span>
        </div>
      </button>
    </form>
  </div>
</div>