<div [@fadeInUp] class="container-fluid">
    <div class="card">
        <div class="card-header-custom">
            <div class="icon-wrapper">
                <i class="fas fa-plus"></i>
            </div>
            <div class="header-text">
                <h5>{{title}}</h5>
                <span>Completa la información para registrar un nuevo operador.</span>
            </div>
        </div>
        <div class="card-body">
            <form [formGroup]="operadorForm" class="cliente-form">
                <h6 class="section-title">Datos Generales</h6>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label>N° de Licencia</label>
                        <input type="text" class="form-control" formControlName="numeroLicencia"
                            placeholder="Ej: Alonso">
                    </div>
                    <div class="col-md-4">
                        <label>Fecha Nacimiento</label>
                        <input type="date" class="form-control" formControlName="fechaNacimiento"
                            placeholder="Ej: 12/05/1999">
                    </div>
                    <div class="col-md-4">
                        <label>Usuario</label>
                        <select class="form-control" formControlName="idUsuario" [disabled]="showUsuario"
                            [ngClass]="{ 'disabled': showUsuario }">
                            <option [ngValue]="null">Seleccione un usuario</option>
                            <option *ngFor="let c of listaUsuarios" [ngValue]="c.id">
                                {{ c.nombre }} {{ c.apellidoPaterno }}
                            </option>
                        </select>
                    </div>

                </div>
                <h6 class="section-title mt-5">Archivos</h6>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="tc-upload">
                            <label>Identificación</label>
                            <div class="tc-preview" *ngIf="identificacionPreviewUrl; else identificacionTile">
                                <img [src]="identificacionPreviewUrl" alt="Identificación" />
                                <div class="file-name" *ngIf="identificacionFileName">{{ identificacionFileName }}
                                </div>
                                <div class="tc-actions">
                                    <button type="button" class="btn-change"
                                        (click)="openIdentFilePicker()">Cambiar</button>
                                    <button type="button" class="btn-remove" (click)="clearIdentFile($event)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <ng-template #identificacionTile>
                                <div class="tc-tile" (click)="openIdentFilePicker()"
                                    (dragover)="onIdentDragOver($event)" (dragleave)="onIdentDragLeave($event)"
                                    (drop)="onIdentDrop($event)" [class.dragging]="identificacionDragging">
                                    <div class="circle"><i class="fas fa-id-card"></i></div>
                                    <div class="meta">
                                        <div class="title">Arrastra o haz clic</div>
                                        <div class="hint">PDF · máx 3 MB</div>
                                        <div class="file-name" *ngIf="identificacionFileName">{{
                                            identificacionFileName }}</div>
                                    </div>
                                </div>
                            </ng-template>
                            <input type="file" #identFileInput accept=".pdf" hidden
                                (change)="onIdentFileSelected($event)">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="tc-upload">
                            <label>Comprobante de Domicilio</label>

                            <div class="tc-preview" *ngIf="comprobantePreviewUrl; else comprobanteTile">
                                <img [src]="comprobantePreviewUrl" alt="Comprobante de Domicilio" />
                                <div class="file-name" *ngIf="comprobanteFileName">{{ comprobanteFileName }}</div>
                                <div class="tc-actions">
                                    <button type="button" class="btn-change"
                                        (click)="openComprobanteFilePicker()">Cambiar</button>
                                    <button type="button" class="btn-remove" (click)="clearComprobanteFile($event)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>

                            <ng-template #comprobanteTile>
                                <div class="tc-tile" (click)="openComprobanteFilePicker()"
                                    (dragover)="onComprobanteDragOver($event)"
                                    (dragleave)="onComprobanteDragLeave($event)" (drop)="onComprobanteDrop($event)"
                                    [class.dragging]="comprobanteDragging">
                                    <div class="circle"><i class="fas fa-home"></i></div>
                                    <div class="meta">
                                        <div class="title">Arrastra o haz clic</div>
                                        <div class="hint">PDF · máx 3 MB</div>
                                        <div class="file-name" *ngIf="comprobanteFileName">{{ comprobanteFileName }}
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <input type="file" #comprobanteFileInput accept=".pdf" hidden
                                (change)="onComprobanteFileSelected($event)">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="tc-upload">
                            <label>Antecedentes No Penales</label>
                            <div class="tc-preview" *ngIf="antecedentesPreviewUrl; else antecedentesTile">
                                <img [src]="antecedentesPreviewUrl" alt="Antecedentes No Penales" />
                                <div class="file-name" *ngIf="antecedentesFileName">{{ antecedentesFileName }}</div>
                                <div class="tc-actions">
                                    <button type="button" class="btn-change"
                                        (click)="openAntecedentesFilePicker()">Cambiar</button>
                                    <button type="button" class="btn-remove" (click)="clearAntecedentesFile($event)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <ng-template #antecedentesTile>
                                <div class="tc-tile" (click)="openAntecedentesFilePicker()"
                                    (dragover)="onAntecedentesDragOver($event)"
                                    (dragleave)="onAntecedentesDragLeave($event)" (drop)="onAntecedentesDrop($event)"
                                    [class.dragging]="antecedentesDragging">
                                    <div class="circle"><i class="fas fa-star"></i></div>
                                    <div class="meta">
                                        <div class="title">Arrastra o haz clic</div>
                                        <div class="hint">PDF · máx 3 MB</div>
                                        <div class="file-name" *ngIf="antecedentesFileName">{{ antecedentesFileName
                                            }}</div>
                                    </div>
                                </div>
                            </ng-template>
                            <input type="file" #antecedentesFileInput accept=".pdf" hidden
                                (change)="onAntecedentesFileSelected($event)">
                        </div>
                    </div>
                </div>

                <div class="form-actions mt-2">
                    <button type="submit" class="submit" (click)="submit()">{{submitButton}}</button>
                    <button type="button" class="cancel" (click)="regresar()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>